@import 'reset';

body {
    background: #000000;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .header-content {
        background: #a32121;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .menu {
        list-style-type: none;
        display: flex;

        // li {
        //     margin-right: 10px;

        //     &:last-child {
        //         margin-right: 0;
        //     }
        // }

        li {
            margin-left: 10px;
            font-weight: 700;
            text-align: center;

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                color: rgb(252, 252, 252);
            }
        }

        .en {
            font-size: 14px;
            font-family: monospace;
            text-transform: uppercase;
        }
    }

    .join-form {
        min-height: 100vh;
        color: #fff;
        background: #000;
        background-image: url(../images/banner.jpeg);
        background-size: cover;

        .join-form-content {
            display: flex;
            align-items: center;
            // justify-content: space-between;
            min-height: 100vh;

            .content-wrap {
                background: rgba(14, 50, 80, 0.9);
                display: flex;
                width: 100%;

                >div {
                    // background: rgba(14, 50, 80, 0.9);
                    // flex: 1;
                    width: 50%;
                    padding: 20px;
                    position: relative;


                    &:first-child::before {
                        content: '';
                        border-right: 3px dashed #fff;
                        position: absolute;
                        right: 0px;
                        top: 20px;
                        height: calc(100% - 40px);
                    }
                }
            }
        }

        .join-form-text {
            font-size: 14px;
            line-height: 30px;
            text-align: justify;
        }
    }